<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Demo App</title>

	<link rel="stylesheet" href="css/jquerymobile.css">
	<link rel="stylesheet" href="css/swipe-page.css">
	<script src="js/jquery2/jquery-2.1.4.min.js"></script>
	<script src="js/jquery-mobile/jquerymobile.js"></script>
	<script src="js/jquery-mobile/jquery.mobile-config.js"></script>

	<script src="js/swipe-page.js"></script>

</head>
	<body>
		<div data-role="page" id="demopage2" class="demo-page" data-dom-cache="true" data-theme="b" data-prev="index" data-next="app">
		    <div role="main" class="ui-content">
			<h1 class="ui-bar" >Prototipo final de asignatura</h1>
			En esta página debe ir una descripción del objetivo del proyecto.
		    </div><!-- /content -->
		
	<div id="footer" data-id="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
		<div data-role="controlgroup" class="control ui-btn-left" data-type="horizontal" data-mini="true">
        	<a href="#" class="prev ui-btn ui-btn-icon-notext ui-icon-carat-l">Previous</a>
        	<a href="#" class="next ui-btn ui-btn-icon-notext ui-icon-carat-r">Next</a>
        </div>
    </div><!-- /footer -->
	</div>
	</body>
</html>