<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Demo App</title>

	<link rel="stylesheet" href="css/jquerymobile.css">
	<link rel="stylesheet" href="css/swipe-page.css">
	<script src="js/jquery2/jquery-2.1.4.min.js"></script>
	<script src="js/jquery-mobile/jquerymobile.js"></script>
	<script src="js/jquery-mobile/jquery.mobile-config.js"></script>
	<script src="js/swipe-page.js"></script>

</head>

<body>
	<script>
		//checkCookie("displayIntro","app.html");
	</script>
	<!--<div id="header" data-role="header" data-id="header" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
		<a href="./" data-ajax="false" data-direction="reverse" data-icon="delete" data-iconpos="notext" data-shadow="false" data-icon-shadow="false">Back</a>
	</div>-->
	<!-- /header -->
	<div data-role="page" id="demopage1" class="demo-page" data-dom-cache="true" data-theme="b" data-next="demopage2">
		<div data-role="header">Prototipo IDEs 2017 grupo X</div>
		<div role="main" class="ui-content">
			<h1 class="ui-bar ui-bar-a ui-corner-all">Bienvenidos al proyecto final de la asignatura Infraestructuras de Datos Espaciales</h1>
			<div class="ui-body ui-body-a ui-corner-all"><p>En esta asignatura hemos diseñado una pequeña aplicación para aplicar los conocimientos adquiridos.</p></div>
		</div>
	<div id="footer" data-id="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
		<div data-role="controlgroup" class="control ui-btn-left" data-type="horizontal" data-mini="true">
			<a href="#" class="prev ui-btn ui-btn-icon-notext ui-icon-carat-l">Previous.</a>
			<a href="#demopage2" class="next ui-btn ui-btn-icon-notext ui-icon-carat-r">Next.</a>
		</div>
	</div>
	<!-- /footer -->
	</div>
	<div data-role="page" id="demopage2" class="demo-page" data-dom-cache="true" data-theme="b" data-next="demopage2">
		<div data-role="header">Prototipo IDEs 2017 grupo X</div>
		<div role="main" class="ui-content">
			<h1 class="ui-bar ui-bar-a ui-corner-all">Bienvenidos al proyecto final de la asignatura Infraestructuras de Datos Espaciales</h1>
			<div class="ui-body ui-body-a ui-corner-all"><p>En esta asignatura hemos diseñado una pequeña aplicación para aplicar los conocimientos adquiridos.</p>
			</div>
		</div>
	<div id="footer" data-id="footer" data-position="fixed" data-fullscreen="true" data-tap-toggle="false">
		<div data-role="controlgroup" class="control ui-btn-left" data-type="horizontal" data-mini="true">
			<a href="#" class="prev ui-btn ui-btn-icon-notext ui-icon-carat-l">Previous.</a>			
		</div>
		<a href="app.html" data-ajax="false" data-role="button">Ir a la aplicación</a>
	</div>
	<!-- /footer -->
	</div>
</body>

</html>